<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515329423628-elqmq9iscqqrk6tau5q82q8njnir3k2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515329423628-elqmq9iscqqrk6tau5q82q8njnir3k2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCmU431PXsvBmT-jUIWQ3liumoEAygCUaE</string>
	<key>GCM_SENDER_ID</key>
	<string>515329423628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riturajmishra.Flash</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7a8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7a8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515329423628:ios:a8785a034f80a7fc267129</string>
</dict>
</plist>